/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
}
